@media only screen and (max-width:820px){
	.main_f .contact li{width:50%; display:block; float:left;}
	nav.main_n{float:none; width:100%; clear:both; margin:0; background:#FFF; @extend .clear_fix;}
	ul.nav-menu li {
		&.contact > a{padding:1.4em 0.5em 0;}
		a{
			padding:1.6em 0.5em 0; @include rem(1.5);
		}
	}
	.util_holder{width:77.8%; margin-left:3.2%;}
	ul.utility a{
		&.dt, &.rc, &.p, &.s{background:none; padding-left:0 !important;}
	}
}