#THIS {
	width: 100px;
}

/*Start Rest*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	line-height: 1;
	font-size: 62.5%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div,
span,
ul,
li,
fieldset,
input,
textarea,
blockquote {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

td,
th {
	vertical-align: top;
}

a {
	text-decoration: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
	outline: none;
}

textarea {
	outline: none;
}

/*End Reset*/

.skip {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	width: 600px;
	color: #FFF;
}

.skip:focus,
.skip:active {
	position: static;
	width: auto;
	height: auto;
	left: 0px;
	margin-right: 10px;
}

.noreveal:focus,
.noreveal:active {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	width: 600px;
	color: #FFF;
}

.access {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.forPrint {
	display: none;
}

button,
input[type="submit"] {
	cursor: pointer;
}

/* functions */

/* fonts */

@font-face {
	font-family: "ITC Avant Garde Gothic W01_n6";
	src: url("/assets/fonts/85564178-fd88-4387-9226-0e632723ca24.eot?#iefix") format("eot");
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01";
	src: url("/assets/fonts/85564178-fd88-4387-9226-0e632723ca24.eot?#iefix");
	src: url("/assets/fonts/85564178-fd88-4387-9226-0e632723ca24.eot?#iefix") format("eot"), url("/assets/fonts/e9a79553-7093-47c7-8d9c-70dc3619e94b.woff") format("woff"), url("/assets/fonts/7265b8d0-a67c-4a8b-84aa-273d1759270a.ttf") format("truetype"), url("/assets/fonts/75d377f2-28ee-43f8-b231-44f8eba218c4.svg#75d377f2-28ee-43f8-b231-44f8eba218c4") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01_o6";
	src: url("/assets/fonts/e19b7bd0-1d20-4e6a-89ab-a1fa1c037ccb.eot?#iefix") format("eot");
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01";
	src: url("/assets/fonts/e19b7bd0-1d20-4e6a-89ab-a1fa1c037ccb.eot?#iefix");
	src: url("/assets/fonts/e19b7bd0-1d20-4e6a-89ab-a1fa1c037ccb.eot?#iefix") format("eot"), url("/assets/fonts/dc20a858-c78b-4d4e-b595-9f2981f7fb01.woff") format("woff"), url("/assets/fonts/78e9d6a0-3eab-40f1-bd47-94f2496ca5ab.ttf") format("truetype"), url("/assets/fonts/e19a45f4-7180-41a1-9815-c6350e91a172.svg#e19a45f4-7180-41a1-9815-c6350e91a172") format("svg");
	font-weight: 600;
	font-style: oblique;
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01_n2";
	src: url("/assets/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot");
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01";
	src: url("/assets/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
	src: url("/assets/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), url("/assets/fonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), url("/assets/fonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype"), url("/assets/fonts/80f98a03-905d-49e6-8614-cec7c32ca4f2.svg#80f98a03-905d-49e6-8614-cec7c32ca4f2") format("svg");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01_o2";
	src: url("/assets/fonts/d6c308a1-6908-40bc-b732-0fec02d083ac.eot?#iefix") format("eot");
}

@font-face {
	font-family: "ITC Avant Garde Gothic W01";
	src: url("/assets/fonts/d6c308a1-6908-40bc-b732-0fec02d083ac.eot?#iefix");
	src: url("/assets/fonts/d6c308a1-6908-40bc-b732-0fec02d083ac.eot?#iefix") format("eot"), url("/assets/fonts/7571e8e6-97a2-48aa-97c1-b8aeeefc5409.woff") format("woff"), url("/assets/fonts/8f1e17ad-3b38-4d51-83f5-4e5469174a77.ttf") format("truetype"), url("/assets/fonts/1ee7d1fd-0f7c-4d70-b970-f4dc602eab62.svg#1ee7d1fd-0f7c-4d70-b970-f4dc602eab62") format("svg");
	font-weight: 200;
	font-style: oblique;
}

body {
	font-family: 'ITC Avant Garde Gothic W01';
}

html {
	background: url(/assets/images/layout/white_wall_hash.jpg);
}

img {
	max-width: 100%;
}

img {
	height: auto !important;
}

.main_n,
.main_n li a,
.search input[type="submit"],
.home_slider .contain,
.tab_pane article .td,
.tab_pane .overlay,
a.button,
button.button,
a.button span.button,
button.button span.button {
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.main_h {
	background-color: rgba(10, 10, 10, 0.9);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	padding: 2px 0;
	position: absolute;
	z-index: 3;
	width: 100%;
}

.main_h .contain {
	max-width: 1200px;
	padding: 0 10px;
	margin: auto;
}

.main_h h1 {
	width: 217px;
	float: left;
	margin: 20px 0 0px 0;
}

.main_h a.logo {
	display: block;
	background: url(/assets/images/layout/travel_explorer.png) no-repeat;
	text-indent: -9999px;
	height: 23px;
}

.main_h2 {
	background-color: rgba(255, 255, 255, 0.03);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
	border-top: 1px solid #302A25;
}

.main_n,
.search,
.search .search_field,
.search input {
	display: inline-block;
	vertical-align: middle;
}

.nav {
	float: right;
	text-align: right;
	width: 75%;
}

.main_n .drop {
	display: none;
	background: rgba(211, 96, 96, 0.45);
	border: 3px solid rgba(77, 31, 31, 0.95);
	border-top: none;
	position: absolute;
	padding: 19px 0 23px;
}

.main_n .drop ul {
	float: left;
}

.main_n .drop ul.col1 a {
	padding: 12px 46px 10px 15px;
}

.main_n .drop ul.col2 {
	border: 1px solid #A76768;
	border-width: 0 1px;
}

.main_n .drop ul.col2 a {
	padding: 12px 45px 10px;
}

.main_n .drop ul.col3 a {
	padding: 12px 15px 10px 46px;
}

.main_n .drop li {
	display: block;
	text-align: left;
}

.main_n .drop li a {
	border: none;
	padding: 12px 15px 10px;
	margin: 0;
}

.main_n .drop li a .featured {
	color: #ffe300;
	font-weight: bold;
	font-size: 10px;
	font-size: 1rem;
	margin-left: 10px;
	position: absolute;
	padding-top: 2px;
}

.main_n .drop li a:hover,
.main_n .drop li a:focus {
	background: #C86B6C;
	border: none;
}

.main_n li {
	display: inline-block;
	margin-left: 2px;
	text-align: center;
}

.main_n li:first-child {
	margin-left: 0;
}

.main_n li a {
	font-size: 14px;
	font-size: 1.4rem;
	color: #FFF;
	padding: 36px 16px 24px;
	display: block;
	margin: -16px 0 0;
	border: 3px solid transparent;
	border-bottom: none;
}

.main_n li a:hover,
.main_n li a:focus {
	background: rgba(211, 96, 96, 0.45);
	border: 3px solid rgba(77, 31, 31, 0.95);
	border-bottom: none;
}

.main_n li:hover .drop {
	display: block;
}

.search .search_field {
	margin-left: 1px;
}

.search input[type="text"] {
	width: 178px;
	height: 38px;
	margin: 10px 4px 10px 13px;
}

.search input[type="submit"] {
	width: 40px;
	height: 40px;
	margin: 10px 3px 10px 10px;
	border-radius: 21px;
	border: 2px solid #a94747;
	background: rgba(233, 149, 149, 0.45) url(/assets/images/layout/magnify.png) 50% 50% no-repeat;
	text-indent: -9999px;
	font-size: 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.search input[type="submit"]:hover,
.search input[type="submit"]:focus {
	background-color: rgba(233, 149, 149, 0.85);
}

footer.main_f {
	background: url(/assets/images/layout/cartographer.png);
}

footer.main_f .contain {
	max-width: 1200px;
	margin: auto;
}

footer.main_f .links {
	padding: 65px 0 18px;
	float: left;
	width: 74.3%;
	border-right: 1px solid #595959;
}

footer.main_f .links ul {
	margin-bottom: 19px;
}

footer.main_f .links li {
	display: inline-block;
	margin-right: 3%;
}

footer.main_f .links a {
	color: #FFF;
	font-size: 14px;
	font-size: 1.4rem;
}

footer.main_f .links a.title {
	font-weight: bold;
	display: inline-block;
	width: 120px;
	text-align: right;
	text-transform: uppercase;
}

footer.main_f .links a:hover,
footer.main_f .links a:focus {
	text-decoration: underline;
}

footer.main_f .mail {
	float: left;
	width: 25%;
	padding: 55px 0 22px 67px;
}

footer.main_f .mail legend {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 9px;
}

footer.main_f .mail p {
	color: #FFF;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2;
	margin-bottom: 15px;
}

footer.main_f .mail input[type="email"],
footer.main_f .mail input[type="text"] {
	width: 94%;
	padding: 3px 5pc;
	height: 40px;
	margin-bottom: 8px;
}

.contentinfo {
	background: rgba(0, 0, 0, 0.8);
}

.contentinfo p {
	margin: auto;
	color: #FFF;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 14px 21px;
}

.home_slider {
	border-bottom: 1px solid #A5A5A5;
	position: relative;
	width: 100%;
	max-height: 756px;
	overflow: hidden;
}

.home_slider .slide_contain {
	max-width: 1745px;
	margin: auto;
}

.home_slider article {
	max-width: 1745px;
	float: left;
	margin: 0 -8px;
	z-index: 2;
	opacity: 0.8;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.home_slider article.active {
	display: block;
	margin: auto;
	z-index: 1;
	opacity: 1;
}

.home_slider article.active .contain {
	opacity: 1;
}

.home_slider .contain {
	position: absolute;
	top: 20.7%;
	width: 100%;
	opacity: 0;
}

.home_slider .container {
	max-width: 1200px;
	padding: 0 10px;
	margin: auto;
	position: relative;
}

.home_slider img { /* width:100%; max-width:1000%; */
	visibility: hidden;
	max-width: 200%;
}

.home_slider h1 {
	color: #fff;
	font-weight: bold;
	font-size: 72px;
	font-size: 7.2rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	letter-spacing: -0.03em;
	max-width: 550px;
	margin-bottom: 25px;
}

.home_slider a.button span.button {
	padding: 21px 26px;
}

.home_slider .stripe {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 17px;
	background: rgba(0, 0, 0, 0.3);
}

.slide_buttons {
	width: 140px;
	height: 47px;
	background-color: rgba(255, 255, 255, 0.65);
	margin: auto;
	position: absolute;
	bottom: 21.6%;
	left: 46.1%;
	padding: 13px 14px;
}

.slide_buttons button {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin-left: 17px;
	text-indent: -9999px;
	font-size: 0;
	border: 4px solid #2d2d2d;
	background-color: #545454;
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
}

.slide_buttons button:first-child {
	margin-left: 0;
}

.slide_buttons button.active,
.slide_buttons button:hover,
.slide_buttons button:focus {
	border-color: #7f3d3d;
	background-color: #d36060;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.tabs {
	max-width: 1200px;
	margin: -123px auto 87px;
	padding: 0 10px;
	position: relative;
	z-index: 2;
}

.the_tabs button {
	border: none;
	color: #FFF;
	font-size: 30px;
	font-size: 3rem;
	font-weight: 600;
	text-transform: uppercase;
	background: rgba(25, 25, 21, 0.86);
	letter-spacing: -0.04em;
	padding: 1.5% 0;
	width: 278px;
	text-align: center;
	margin-bottom: 0;
}

.the_tabs button.active,
.the_tabs button:hover {
	background: #FFF;
	color: #131313;
}

.tab_pane {
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.09);
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.09);
}

.tab_pane.active {
	display: block;
	padding: 5.2% 1.7% 0.6%;
}

.tab_pane article {
	position: relative;
	float: left;
	margin: 0 0 3.9% 3.9%;
	width: 30.733333333%;
	text-align: center;
}

.tab_pane article:nth-child(3n+1) {
	margin-left: 0;
}

.tab_pane article:hover p,
.tab_pane article:hover .more,
.tab_pane article:focus p,
.tab_pane article:focus .more {
	display: block;
}

.tab_pane article:hover .overlay,
.tab_pane article:focus .overlay {
	opacity: 1;
}

.tab_pane article:hover .td,
.tab_pane article:focus .td {
	vertical-align: top;
}

.tab_pane article:hover .td h2,
.tab_pane article:focus .td h2 {
	margin-top: 29%;
}

.tab_pane article .share {
	position: absolute;
	right: 4px;
	top: 4px;
	z-index: 3;
}

.tab_pane article .share .addthis_toolbox {
	height: 155px;
	width: 45px;
	margin-left: 0;
	margin: 41px 0 0 -4px;
	padding: 5px 4px 0;
}

.tab_pane article .share .addthis_default_style .at300bs {
	float: none;
}

.tab_pane article .share a {
	display: block;
	position: relative;
}

.tab_pane .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(28, 28, 28, 0.9);
}

.tab_pane a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.tab_pane a .icon {
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 50% 50%;
	border: 4px solid #f1f1f1;
	width: 45px;
	height: 45px;
	top: 4px;
	left: 4px;
}

.tab_pane a.dinning .icon {
	background-image: url(/assets/images/layout/icon_food.png);
}

.tab_pane a.sleep .icon {
	background-image: url(/assets/images/layout/icon_bed.png);
}

.tab_pane a.photo .icon {
	background-image: url(/assets/images/layout/icon_picture.png);
}

.tab_pane a.map .icon {
	background-image: url(/assets/images/layout/icon_map.png);
}

.tab_pane a.travel .icon {
	background-image: url(/assets/images/layout/icon_travel.png);
}

.tab_pane h2 {
	color: #fff;
	font-size: 23px;
	font-size: 2.3rem;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	line-height: 1.25;
	text-transform: uppercase;
	padding: 0 6%;
	margin-top: 3%;
}

.tab_pane p,
.tab_pane .more {
	display: none;
}

.tab_pane p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.2;
	color: #FFF;
	margin: 1% 0 4%;
	padding: 0 6%;
}

.tab_pane .more {
	color: #ff8e8e;
	font-size: 15.6px;
	font-size: 1.56rem;
	font-weight: bold;
	text-transform: uppercase;
}

.tab_pane img {
	width: 100%;
}

.t {
	display: table;
	width: 100%;
	height: 100%;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	vertical-align: middle;
}

nav.powered {
	width: 240px;
	margin: 20px auto 41px;
}

nav.powered h2 {
	color: #AAA;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}

nav.powered .Marriott {
	display: inline-block;
	overflow: hidden;
	background: url(/assets/images/layout/marriott.png) no-repeat;
	width: 97px;
	height: 22px;
	line-height: 300;
	vertical-align: middle;
}

nav.powered li {
	float: left;
}

nav.powered a {
	background: url(/assets/images/layout/social_icons.png) no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -9999px;
}

nav.powered a.facebook {
	background-position: 0 0;
}

nav.powered a.facebook:hover,
nav.powered a.facebook:focus {
	background-position: 0 -40px;
}

nav.powered a.twitter {
	background-position: -40px 0;
}

nav.powered a.twitter:hover,
nav.powered a.twitter:focus {
	background-position: -40px -40px;
}

nav.powered a.pintrest {
	background-position: -80px 0;
}

nav.powered a.pintrest:hover,
nav.powered a.pintrest:focus {
	background-position: -80px -40px;
}

nav.powered a.google {
	background-position: -120px 0;
}

nav.powered a.google:hover,
nav.powered a.google:focus {
	background-position: -120px -40px;
}

nav.powered a.instagram {
	background-position: -160px 0;
}

nav.powered a.instagram:hover,
nav.powered a.instagram:focus {
	background-position: -160px -40px;
}

nav.powered a.email {
	background-position: -200px 0;
}

nav.powered a.email:hover,
nav.powered a.email:focus {
	background-position: -200px -40px;
}

.mc a:hover,
.mc a:focus {
	text-decoration: underline;
}

.mc .form_row .half:first-child {
	margin-left: 0;
}

.mc input[type="text"],
.mc input[type="email"],
.mc input[type="number"],
.mc input[type="url"],
.mc input[type="tel"],
.mc textarea {
	font-size: 0;
}

.mc table {
	width: 100%;
}

a.button,
button.button {
	background: rgba(77, 31, 31, 0.9);
	padding: 4px;
	display: inline-block;
	font-weight: bold;
}

a.button span.button,
button.button span.button {
	display: block;
	background-color: rgba(211, 96, 96, 0.45);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	font-size: 16px;
	font-size: 1.6rem;
	color: #FFF;
	text-transform: uppercase;
	padding: 11px 17px;
}

a.button:hover,
a.button:focus,
button.button:hover,
button.button:focus {
	background: rgba(41, 16, 16, 0.9);
}

a.button:hover span.button,
a.button:focus span.button,
button.button:hover span.button,
button.button:focus span.button {
	background-color: rgba(200, 56, 56, 0.45);
}

button.button {
	border: none;
	margin: 0;
}

.share {
	border: 4px solid rgba(255, 131, 0, 0.9);
	width: 45px;
	height: 45px;
	background: #ff8300 url(/assets/images/layout/add_this_big.png) no-repeat 50% 50%;
	margin-bottom: 15px;
}

.share:hover {
	border-color: rgba(181, 93, 0, 0.95);
}

.share:hover .addthis_toolbox {
	display: block;
}

.addthis_toolbox {
	width: 200px;
	margin: -4px 0 0 41px;
	padding: 4px 0 5px;
	background: rgba(181, 93, 0, 0.95);
	display: none;
}

.addthis_toolbox a {
	margin: 3px 11px 0 0;
}

.addthis_toolbox .at300bs,
.addthis_toolbox .at_PinItButton {
	background: url(/assets/images/layout/social_big_show.png);
	width: 33px !important;
	height: 33px !important;
}

.addthis_toolbox .at300bs:focus,
.addthis_toolbox .at300bs:hover,
.addthis_toolbox .at_PinItButton:focus,
.addthis_toolbox .at_PinItButton:hover {
	background-color: #ff8300;
}

.addthis_toolbox .at15t_facebook {
	background-position: -7px -8px !important;
}

.addthis_toolbox .at15t_twitter {
	background-position: -54px -8px !important;
}

.addthis_toolbox .at_PinItButton {
	background-position: -107px -8px !important;
}

.addthis_toolbox .at15t_google_plusone_share {
	background-position: -154px -8px !important;
}

.search input[type="text"],
footer.main_f .mail input[type="email"],
footer.main_f .mail input[type="text"] {
	border: 1px solid #c5c5c5;
	background: #fff;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
	padding: 0 5px;
	font-size: 14px;
	font-size: 1.4rem;
}

.theTabs {
	margin-bottom: -1px;
}

.tabPane {
	display: none;
}

.tabPane.activePanel {
	display: block;
}

.tabPane.activePanel h3 {
	color: #313131;
}

.clear_fix:after,
.main_h2:after,
.main_n .drop:after,
footer.main_f .contain:after,
.tab_pane:after,
nav.powered ul:after,
.mc .img_wrap:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.clear_fix,
.main_h2,
.main_n .drop,
footer.main_f .contain,
.tab_pane,
nav.powered ul,
.mc .img_wrap {
	min-height: 1%;
}

/*# sourceMappingURL=screen.css.map */

@media screen and (max-width: 1745px) {

.home_slider .slides {
	width: 100% !important;
	margin-left: 0 !important;
}

.home_slider .slides article {
	display: none;
	float: none;
	margin: 0;
}

.home_slider .slides article.active {
	display: block;
}

}

@media screen and (max-width: 768px) {

.main_h .contain {
	max-width: 742px;
}

.main_h h1 {
	width: 180px;
}

.search input[type="text"] {
	display: none;
}

footer.main_f .contain {
	max-width: 742px;
}

footer.main_f .links {
	width: 100%;
	float: none;
}

footer.main_f .mail {
	width: 100%;
	float: none;
}

.home_slider .contain {
	top: 22%;
}

.home_slider .container {
	max-width: 692px;
}

.slide_buttons {
	left: 40.7%;
	bottom: 13.8%;
}

.tabs {
	max-width: 742px;
	margin-top: -58px;
}

.the_tabs button {
	padding: 2.5% 0 2%;
}

.tab_pane.active {
	padding: 7.2% 3.7% 11.6%;
}

.tab_pane article {
	width: 47%;
	margin: 0 0 5.9% 5.9%;
}

.tab_pane article:nth-child(3n+1) {
	margin-left: 5.9%;
}

.tab_pane article:nth-child(odd) {
	margin-left: 0;
}

.tab_pane h2 {
	font-size: 21px;
	font-size: 2.1rem;
}

}

